html,
body {
    height: 100%;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
p{
    cursor: pointer;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    outline: none;
    color: #000;
}
.header{
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(192, 192, 192, 0.3);
    z-index: 97;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:rgb(77, 145, 255);
    margin-left: 10px;
}
.ctn1 {
    display: flex;
    width: 100%;
    height: 420px;
    margin-top: 60px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-image:
    url('./img/IMG-20250614-WA0003.jpg');
    background-size: cover; /* Chaque image couvre toute la zone */
    background-position: 0px -70px; /* Centre chaque image */
    background-repeat: no-repeat; /* Ne répète pas les images */

    /* L'animation principale qui manipule la visibilité des couches d'images */
    /* animation: background-slideshow 15s infinite;
    animation-duration: 15s; */
}
.ctn1_ {
    display: flex;
    width: 100%;
    height: 220px;
    margin-top: 60px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.ctn2_ {
    display: flex;
    width: 100%;
    height: 120px;
    margin-top: 60px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.ctn3_ {
    display: flex;
    width: 100%;
    height: 480px;
    margin-top: 60px;
    flex-direction: column;
    background-image:
    url('./img/benevol.jpg');
    background-size: cover; /* Chaque image couvre toute la zone */
    background-position: 0px 0px; /* Centre chaque image */
    background-repeat: no-repeat;
}
.ctn2{
    display: flex;
    padding-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.ctn3{
    display: flex;
    padding-top: 20px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    flex-direction: row;
    align-items: center;
}
.ctn4{
    display: flex;
    padding-top: 70px;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.ctn5{
    display: flex;
    padding-top: 50px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}

.footer{
    width: 100%;
    height: 300px;
    margin-top: 40px;
    border-top: 1px solid rgba(192, 192, 192, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.footer_{
    width: 100%;
    height: 300px;
    margin-top: 0px;
    border-top: 1px solid rgba(192, 192, 192, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

#bt:hover{
    background-color: rgba(214, 214, 214, 0.2);
    scale: 1.04;
    transition: all 0.3s ease;
}
#btnblack , #btn_actions{
    background-color: rgb(102, 161, 255);
    backdrop-filter: blur(10px);
}
#btnwhite{
    background-color: white;
}
#rsx{
    background-color: white;
}
#btnwhite:hover{
    background-color: rgba(192, 192, 192, 0.2);
}
#btnblack:hover , #btn_actions:hover{
    background-color: rgba(102, 161, 255,0.8);
    transform: translateY(-3px);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
}
#scl:hover{
    transform: scale(1.04);
    transition: transform 0.3s ease;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
}
#rsx:hover{
    background-color: rgba(219, 219, 219, 0.6);
}



#actions_contain::-webkit-scrollbar,.container::-webkit-scrollbar{
    width: 0px;
    height: 100%;
}
#actions_contain::-webkit-scrollbar-track,.container::-webkit-scrollbar-track{
    background: none;
    border-radius: 10px;
}
#actions_contain::-webkit-scrollbar-thumb,.container::-webkit-scrollbar-thumb{
    background-color: black;
}
#actions_contain::-webkit-scrollbar-thumb:hover,.container::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.6);
} 
#actions_contain::-webkit-scrollbar-button,.container::-webkit-scrollbar-button{
    display: none;
}

@keyframes background-slideshow {
  /* Image 1 (IMG-20250614-WA0012.jpg) */
    0%{
        background-image: url('./img/IMG-20250614-WA0012.jpg');
    }
    33.33%{
        background-image: url('./img/IMG-20250614-WA0008.jpg');
    }
    66.66%{
        background-image: url('./img/IMG-20250614-WA0003.jpg');
    }
    100%{
        background-image: url('./img/IMG-20250614-WA0012.jpg');
    }
}

